<server description="Todo App Server">

    <featureManager>
      <feature>microprofile-1.2</feature>
      <feature>servlet-3.1</feature>
      <feature>apiDiscovery-1.0</feature>
      <feature>jaxrs-2.0</feature>
      <feature>jndi-1.0</feature>
      <feature>localConnector-1.0</feature>
      <feature>apidiscovery-1.0</feature>
    </featureManager>

    <httpEndpoint httpPort="${default.http.port}" httpsPort="${default.https.port}"
      id="defaultHttpEndpoint" host="*" />

    <keyStore id="defaultKeyStore"/>

    <basicRegistry id="basic" realm="ibm/api">
      <user name="guest" password="password" />
    </basicRegistry>


    <!-- Automatically expand WAR files and EAR files -->
    <applicationManager autoExpand="true"/>


    <!-- The dropins deployment feature is enabled and mbean is used as an updateTrigger
        This is required by the Arquillian WLP extension. -->
    <applicationMonitor dropinsEnabled="true" updateTrigger="mbean" />

    <webApplication name="todo" location="${app.location}"/>
</server>
